<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j">

<ui:composition template="layout.xhtml">

	<ui:define name="body">


		<h:commandButton value="Call the popup">
			<rich:componentControl target="popup" operation="show"  />
		</h:commandButton>
		<rich:popupPanel id="popup" modal="false" autosized="true"
			resizeable="false"  >

			<f:facet name="header">
				<h:outputText value="Simple popup panel" />
			</f:facet>
			<f:facet name="controls">
				<h:outputLink value="#"
					onclick="#{rich:component('popup')}.hide(); return false;"
					style="color: inherit">
                X
            </h:outputLink>
			</f:facet>
			<h:form>


				<h2>Vlozit destinaciu</h2>


				<h:panelGrid columns="2">

Nazov destinace <h:inputText value="#{destinationAirLineBean.destination.name}" />
		

Latitude  <rich:inputNumberSpinner
						value="#{destinationAirLineBean.destination.lat}" />
				
Longitude   <rich:inputNumberSpinner
						value="#{destinationAirLineBean.destination.lon}" />

				</h:panelGrid>

				<br />

				<a4j:commandButton value="Ulozit destinaciu"
					action="#{destinationAirLineBean.addDestination}" render="form_table">
				</a4j:commandButton>

				<br />





				<p>
					The popup panel is open and closed from the javascript function of
					component client side object. The following code <a href="#"
						onclick="#{rich:component('popup')}.hide()">hide this panel</a>:
					<f:verbatim>&#35;</f:verbatim>
					{rich:component('popup')}.hide()
				</p>
			</h:form>
		</rich:popupPanel>


		
		<h:outputStylesheet>
        a.no-decor>img {
            border: none;
        }
    </h:outputStylesheet>
    <a4j:status onstart="#{rich:component('statPane')}.show()" onstop="#{rich:component('statPane')}.hide()" />
    <h:form id="form_table">
        <rich:dataTable value="#{destinationAirLineBean.destinationList}" var="dataItem" iterationStatusVar="it" id="table" rows="15">
            <rich:column>
                <f:facet name="header">#</f:facet>
                #{it.index}
            </rich:column>
   	<rich:column>
					<f:facet name="header">Id</f:facet>
					<h:outputText value="#{dataItem.id}" />

				</rich:column>

				<rich:column>
					<f:facet name="header">Nazov</f:facet>
					<h:outputText value="#{dataItem.name}" />

				</rich:column>

				<rich:column>
					<f:facet name="header">Latitude</f:facet>
					<h:outputText value="#{dataItem.lat}" />
				</rich:column>

				<rich:column>
					<f:facet name="header">Longitude</f:facet>
					<h:outputText value="#{dataItem.lon}" />

				</rich:column>
            <rich:column>
                <a4j:commandLink styleClass="no-decor" execute="@this" render="@none"
                    oncomplete="#{rich:component('confirmPane')}.show()">
                    <h:graphicImage value="/images/icons/delete.gif" alt="delete" />
                    <a4j:param value="#{it.index}" assignTo="#{destinationAirLineBean.currentDestinationIndex}" />
                  <f:setPropertyActionListener target="#{destinationAirLineBean.deletedDestination}" value="#{dataItem}" />
                    
                </a4j:commandLink>
                <a4j:commandLink styleClass="no-decor" render="editGrid, vin, mage, price" execute="@this"
                    oncomplete="#{rich:component('editPane')}.show()" resetValues="true" actionListener="#{destinationAirLineBean.resetValues()}">
                    <h:graphicImage value="/images/icons/edit.gif" alt="edit" />
                    <a4j:param value="#{it.index}" assignTo="#{destinationAirLineBean.currentDestinationIndex}" />
                    <f:setPropertyActionListener target="#{destinationAirLineBean.editedDestination}" value="#{dataItem}" />
                </a4j:commandLink>
            </rich:column>
            <f:facet name="footer">
                <rich:dataScroller page="#{destinationAirLineBean.page}" fastStep="3"/>
            </f:facet>
        </rich:dataTable>
 
        <a4j:jsFunction name="remove" action="#{destinationAirLineBean.remove}" render="table" execute="@this"
            oncomplete="#{rich:component('confirmPane')}.hide();" />
 
   <!--      <rich:popupPanel id="statPane" autosized="true">
            <h:graphicImage value="/images/ai.gif" alt="ai" />
            Please wait...
        </rich:popupPanel> -->
 
        <rich:popupPanel id="confirmPane" autosized="true">
            Are you sure you want to delete the row?
            <a4j:commandButton value="Cancel" onclick="#{rich:component('confirmPane')}.hide(); return false;" />
            <a4j:commandButton value="Delete" onclick="remove(); return false;" />
        </rich:popupPanel>
 
        <rich:popupPanel header="Edit Car Details" id="editPane" domElementAttachment="parent" width="400" height="170">
            <h:panelGrid columns="3" id="editGrid">
                <h:outputText value="Name" />
                <h:inputText value="#{destinationAirLineBean.editedDestination.name}"  id="name"/>
                <h:panelGroup />
                <h:outputText value="Latitude" />
                <h:inputText value="#{destinationAirLineBean.editedDestination.lat}" id="lat" />
                <h:panelGroup />
                <h:outputText value="Longitude" />
                <h:inputText value="#{destinationAirLineBean.editedDestination.lon}" required="true" requiredMessage="Price is required" id="lon"
                    converterMessage="Should be a valid price" validatorMessage="Should be a valid price" label="Price field">
                    <f:validateDoubleRange minimum="0.00" maximum="99999999"/>
                </h:inputText>
                <rich:message id="priceMsg" for="lon" />
               
            </h:panelGrid>
            <a4j:commandButton value="Store" action="#{destinationAirLineBean.store}" render="table" execute="editPane"
                oncomplete="if (#{facesContext.maximumSeverity==null}) {#{rich:component('editPane')}.hide();}" />
            <a4j:commandButton value="Cancel" onclick="#{rich:component('editPane')}.hide(); return false;" />
        </rich:popupPanel>
    </h:form>
		
	
		
		
	</ui:define>
</ui:composition>

</html>