<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<f:view>
	<h:head>
		<title>Destinations</title>
	</h:head>
	<h:body>

		<h:form>


			




			<br />
			<br />
			<h1>Vlozit destinaciu</h1>



			<br />
			<br />
Nazov destinace

        <h:inputText value="#{airLineBean.destination.name}"
				required="false" />
			<br />
			<br />

Latitude
       <rich:inputNumberSpinner value="#{airLineBean.destination.lat}"
				required="false" />
			<br />
       Longitude
       <rich:inputNumberSpinner value="#{airLineBean.destination.lon}"
				required="false" />
			<br />


			<br />
			<br />



			<h:commandButton value="Ulozit destinaciu"
				action="#{airLineBean.addDestination}">
			</h:commandButton>

			<br />






			<br />


			<h:commandButton value="Refresh" />
			<br />

			<rich:dataTable value="#{airLineBean.destinationList}" var="dataItem"
				columnClasses="50,100,100,100" width="350" render="true">



				<rich:column>
					<f:facet name="header">Id</f:facet>
					<h:outputText value="#{dataItem.id}" />
				</rich:column>

				<rich:column>
					<f:facet name="header">Nazov</f:facet>
					<h:outputText value="#{dataItem.name}" />
				</rich:column>

				<rich:column>
					<f:facet name="header">Latitude</f:facet>
					<h:outputText value="#{dataItem.lat}" />
				</rich:column>

				<rich:column>
					<f:facet name="header">Longitude</f:facet>
					<h:outputText value="#{dataItem.lon}" />
				</rich:column>

				<rich:column>



					<h:commandButton value="x">
						<f:ajax event="click" execute="@form" render="@form"
							listener="#{airLineBean.deleteDestination}" />
						<f:param name="id" value="#{dataItem.id}" />

					</h:commandButton>


				</rich:column>

			</rich:dataTable>


		</h:form>



	</h:body>
</f:view>

</html>