<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Insert Car</title>
</h:head>
<h:body>

	<h:form>
		<rich:toolbar height="26px">


			<rich:dropDownMenu mode="ajax">
				<f:facet name="label">
					<h:panelGrid cellpadding="0" cellspacing="0" columns="2"
						style="vertical-align:middle">
						<h:outputText value="Functions" />
					</h:panelGrid>
				</f:facet>
				<rich:menuItem submitMode="client"
					onclick="document.location.href='http://localhost:8080/dummy/register.xhtml'">
					<h:outputText value="Register" />
				</rich:menuItem>
				<rich:menuItem submitMode="client"
					onclick="document.location.href='http://localhost:8080/dummy/insertCar.xhtml'">
					<h:outputText value="Insert car" />
				</rich:menuItem>
					<rich:menuItem submitMode="client"
					onclick="document.location.href='http://localhost:8080/dummy/reservation.xhtml'">
					<h:outputText value="Rent car" />
				</rich:menuItem>
				
			</rich:dropDownMenu>
			
			
			
			
				<rich:dropDownMenu mode="ajax">
				<f:facet name="label">
					<h:panelGrid cellpadding="0" cellspacing="0" columns="2"
						style="vertical-align:middle">
						<h:outputText value="Servers" />
					</h:panelGrid>
				</f:facet>
				<rich:menuItem submitMode="client"
					onclick="document.location.href='http://localhost:8080/dummy/index.xhtml'">
					<h:outputText value="Server 1" />
				</rich:menuItem>
				<rich:menuItem submitMode="client"
					onclick="document.location.href='http://localhost:8082/dummy/index.xhtml'">
					<h:outputText value="Server 2" />
				</rich:menuItem>
			</rich:dropDownMenu>
			
			
			
		</rich:toolbar>
		
		     <br/>      <br/>
		<h1>Vlozit auto</h1>
		
		
		
		      <br/>      <br/>
Nazov vozidla

        <h:inputText value="#{helloWorld.carName}" required="true" /><br/>      <br/>

Pocet miest

       <rich:inputNumberSpinner value="#{helloWorld.seats}" required="true"  />
        
        
        <br/>
      <br/>

		<h:commandButton action="#{helloWorld.insertCar}" value="Vlozit auto" />
		
		<br/>




	

		<br />


		<h:commandButton value="Refresh" />
		<br />

		<rich:dataTable value="#{helloWorld.carList}" var="dataItem"
		 columnClasses="50,100,100,100" width="350" render="true">



			<rich:column>
				<f:facet name="header">Id</f:facet>
				<h:outputText value="#{dataItem.id}" />
			</rich:column>

			<rich:column>
				<f:facet name="header">Nazov</f:facet>
				<h:outputText value="#{dataItem.name}" />
			</rich:column>

			<rich:column>
				<f:facet name="header">Pocet sedadiel</f:facet>
				<h:outputText value="#{dataItem.numberOfSeats}" />
			</rich:column>




		</rich:dataTable>

	</h:form>
</h:body>
</html>