<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view>
	<h:head>
		<title>Destinations</title>
	</h:head>
	<h:body>

		<h:form>
			
			
			<ui:insert name="menu">
			<ui:include src="menu.xhtml"></ui:include>
			</ui:insert>

</h:form>
<ui:insert name="body"



>UNDEFINED</ui:insert> 

		


		<h:messages />

	</h:body>
</f:view>
</html>